<% layout('layout/basic') -%>

<%- partial('partials/header', {name:title.toLowerCase()}) -%>

<div class="container" ng-controller="<%= title %>Ctl">
    <h2><%= title %></h2>
    <form name="form" ng-init="origUser={}" method="POST" action="">
        <div ng-if="error" class="alert alert-danger">{{error}}</div>
        <div ng-if="success" class="alert alert-success">{{success}}</div>

        <div class="form-group">
          <input value="<%= (typeof user !== 'undefined' && typeof user.email !== 'undefined') ? user.email : '' -%>" ng-model="user.email" required type="email" placeholder="email" class="form-control">
        </div>

        <div class="form-group">
          <input value="<%= (typeof user !== 'undefined' && typeof user.password !== 'undefined') ? user.password : '' -%>" ng-model="user.password" required type="password" placeholder="password" class="form-control">
        </div>
        <button ng-disabled="form.$invalid || user == origUser" class="btn btn-primary" ng-click="ok()">OK</button>
    </form>

    <p>If you have forgotten your password, use <a href="/forgot">this</a>.</p>
</div>



<% block('footer', "<script>require('front/js/auth');</script>") -%>
